#profile_hero_image, img {
  position: relative;
  transition: all 0.3s linear;
  z-index: 1;
}

#profile_hero_image::before {
  background-color: crimson;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 0 #0f0f0f;
  content: '';
  display: block;
  height: 100%;
  margin: 9px 0 0 9px;
  position: absolute;
  transition: all 0.3s linear;
  width: 100%;
  z-index: -1;
}

#profile_hero_image::after {
  background-color: transparent;
  border-radius: 6px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin: 0px 0 0 0px;
  position: absolute;
  top: 0px;
  transition: all 0.3s linear;
  width: 100%;
  z-index: 0;
}

#profile_hero_image {
  @apply md:hover:scale-[1.01] md:hover:-translate-x-2 md:hover:-translate-y-2 md:before:hover:shadow-[5px_5px_20px_0_#050505] md:before:hover:mt-[20px] md:before:hover:ml-[20px] md:before:hover:scale-[0.97];

}

#profile_hero_image:hover img{
  filter: saturate(125%)
}
