@import "./styles/Hero.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  /* font-family: 'Samanata'; */
  /* font-family: 'CaskaydiaCove Nerd Font Mono'; */
}

body {
  overflow: hidden;
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.96);
}

h1 {
  @apply text-4xl font-medium
}

h2 {
  @apply text-3xl font-medium
}

h3 {
  @apply text-2xl font-medium
}

h4 {
  @apply text-xl font-medium
}

h5 {
  @apply text-lg font-medium
}

h6 {
  @apply text-base font-medium
}

svg {
  display: flex;
}
